*{
    margin: 0;
    padding: 0; 
    font-family: 'HelveticaNeue';
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
.container{
    padding: 10px 10%;
}
/* -------- nav bar -------- */
nav{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background: rgba(255, 255, 255, 0.25);
    margin-top: 15px;
}
nav ul li{
    display:inline-block; 
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0; 
    height: 3px; 
    background: #ffffff;
    position: absolute; 
    left: 0;
    bottom: -6px; 
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* -------- header -------- */
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/background_upscaled.jpg); */
    background-image: url(images/xav.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.header-text{ 
    width: 700px;
    margin-top: 10%;
    font-size: 60px;
    transition: 0.2s ease-in-out;
    cursor: default;
}
.header-text:hover{
    font-size: 62px;
}
.header-text span{ 
    font-size: 75px;
    color: #ffffff;
    /* color: rgb(184, 162, 162); */
}
.header-text2{
    width: 400px;
    font-size: 30px;
    transition: 0.2s ease-in-out;
    cursor: default;
}
.header-text2:hover{
    font-size: 31px;
}

/* -------- icons -------- */
.icons img{
    width: 50px;
    height: auto;
    transition: 0.3s ease-in-out;
}
.icons img:hover{
    transform: scale(1.25);
}
.icons ul{
    margin-top: 20px;
    display: flex;
    gap: 30px; 
    list-style: none;
    padding: 0;
}

/* -------- media player -------- */
.player{
    margin-top: 50px;
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 350px; 
    height: 100px;
    z-index: 1000; /* Ensures it stays above other elements */
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.01);
    padding: 30px;
    overflow: hidden; 
    color: rgb(134, 134, 134);
}

/* ----------------------- about ----------------------- */
#about{
    padding: 80px 0;
    color: #ffffff;
    background-image: url(images/bg2.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.row{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;   
}
.about-col-1 img{
    width: 100%; 
    border-radius: 5px;
}
.about-col-2{
    flex-basis: 50%;
}
.about-col-2 h1{
    color: #ffffff
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    align-items: center;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px; 
}

/* -------- skills/stack -------- */
.stackItems li{
    display: flex; 
    width: 150px;
    align-items: center;
    gap: 20px; 
    margin: 10px 0; 
    color: white;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    cursor: default;
}
.stackItems li img{
    width: 35px;
    height: auto;
    transition: all 0.3s ease-in-out;
}
.stackItems li:hover{
    transform: scale(1.25);
}

/* -------- experience -------- */
.scotiaLogo{
    width: 80px;
    height: auto;
}
.experienceItems li{
    display: flex;
    align-items: center;
    gap: 15px; 
}
.experienceItems li span{
    flex: 1;
}
.qa-header{
    font-size: 25px;
}

/* -------- experience drop-down -------- */
.qa-dropdown{
    position: relative;
    display: inline-block;
}
.qa-dropdown button{
    background-color: #3498db00;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.qa-dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    z-index: 1
}
.qa-dropdown-content ul li{
    display: block;
    padding: 2px; 
    text-decoration: none;
    margin-bottom: 5px;
}
.qa-dropdown-content ul li:hover{
    background-color: #dddddd00;
}
.show {
    display: block;
}

/* -------- education -------- */
.macLogo{
    width: 100px;
    height: auto;
}
.educationItems li{
    display: flex;
    align-items: center;
    gap: 15px; 
}
.educationItems li span{
    flex: 1;
}
.school-header{
    font-size: 25px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------------------- projects ----------------------- */
#projects{
    padding: 80px 0;
    color: #ffffff;
    background-image: url(images/bg3.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* ----------------------- music ----------------------- */
#music{
    padding: 80px 0;
    color: #ffffff;
    background-size: cover;
    background-position: center;
}
