*{
    margin: 0;
    padding: 0; 
    font-family: 'HelveticaNeue';
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/476027686_18009078761705501_4154935694233345762_n.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display:inline-block; 
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0; 
    height: 3px; 
    background: #ffffff;
    position: absolute; 
    left: 0;
    bottom: -6px; 
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{ 
    margin-top: 10%;
    font-size: 60px;
    transition: 0.2s ease-in-out;
}
.header-text:hover{
    font-size: 62px;
}
.header-text h1{
    font-size: 30px;
    transition: 0.2s ease-in-out;
}
.header-text h1:hover{
    font-size: 31px;
}
.header-text span{ 
    font-size: 7-px;
    color: rgb(184, 162, 162);
}
.player{
    margin-top: 50px;
    position: absolute;
    width: 350px; 
    background: #ffffff;
}

/* ----------------------- about ----------------------- */
#about{
    padding: 80px 0;
    color: #ffffff;
}
.row{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;   
}
.about-col-1 img{
    width: 100%; 
    border-radius: 5px;
}
.about-col-2{
    flex-basis: 50%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    align-items: center;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px; 
}
.tab-contents ul li span{
    color: #646464;
    margin: 10px 0;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------------------- projects ----------------------- */
#projects{
    padding: 80px 0;
    color: #ffffff;
    background-image: url(images/484858259_18014097473705501_8788955211200007586_n.jpg);
    background-size: cover;
    background-position: center;
}

/* ----------------------- projects ----------------------- */
#music{
    padding: 80px 0;
    color: #ffffff;
    background-size: cover;
    background-position: center;
}
